@charset "ISO-8859-1";


html, body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0;
	margin: 0;
} 

.small_logo {
	width: 4%;
	position: absolute;
	left: 20px;
	top: 10px;
	border: 1px solid white;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .2);
}

.header {
	background:linear-gradient(0deg,rgba(77,141,162, .6),rgba(156,39,176, .2)),url("img/city.jpg");
    background-size: cover;
    height: 100%;
    text-align: center;
    color: white;
    border: 1px solid transparent;
    overflow: auto;
}

#logo {
	width: 10%;
	position: absolute;
	left: 45%;
	top: 15%;
	background-color: rgba(255, 255, 255, .3);
	border-radius: 50%;
}

#logo_shop{
	width: 20%;
	position: absolute;
	left: 60%;
	top: 50%;
}

.header-shop {
	background:linear-gradient(0deg,rgba(77,141,162, .6),rgba(156,39,176, .2)),url("img/happy.jpg");
    background-size: cover;
    min-height: 100%;
    height: 100% auto !important;
    text-align: center;
    color: white;
    border: 1px solid transparent;
}

.header-cart {
	background:linear-gradient(0deg,rgba(77,141,162, .6),rgba(156,39,176, .2)),url("img/city.jpg");
    background-size: cover;
    min-height: 100%;
    height: 100% auto !important;
    text-align: center;
    color: white;
    border: 1px solid transparent;
}

.header-bug {
	background:linear-gradient(0deg,rgba(77,141,162, .6),rgba(156,39,176, .2)),url("img/bug.jpg");
    background-size: cover;
    min-height: 100%;
    height: 100% auto !important;
    text-align: center;
    color: white;
    border: 1px solid transparent;
}

.header-cart h1 {
	font-size: 2.5em;
	padding-top: 5%;
}

.header-cart a {
	color: white;
	
}

.header h1 {
	font-size: 3em;
	padding-top: 15%;
}

hr {
	color: white;
	width: 50%;
}

.menu {
    color: white;
    margin-top: 20px;
}

.menu-icon {
	display: none;
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 4%;
}

.menu hr {
	color: black;
}

.menu a {
    color: white;
}

.menu ul li {
    display: inline-block;
    padding: 20px;
    margin: 5px;
    margin-left: 2%;
    margin-right: 2%;
    transition: .3s ease-in-out;
    border: 3px solid white;
}

.menu ul li:hover {
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
}

button {
    width: 150px;
    height: 50px;
    color: black;
    border: .2px solid black;
    font-size: 12px;
    transition: .4s ease-in-out;
    background-color: rgba(255, 255, 255, .5);
    margin-bottom: 10px;
}

.button-small {
	width: 100px;
	height: 50px;
}

button:hover {
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

.content {
	width: 100%;
	min-height: 100%;
	text-align: center;
}

.small {
	width: 30%;
	display: inline-block;
    margin: .5%;
    margin-top: 8%;
    text-align: justify;
    hyphens: auto;
    background-color: rgba(255,255,255,.8);
    color: black;
    box-sizing: border-box;
    text-align: center;
}

.shop {
	background-color: rgba(255, 255, 255, .5);
}

    
.small img {
    width: 60%;
    height: 200px;
    margin-top: -20%;
}

.shop img {
	height: 150px;;
	margin-top: -25%;
}

.shopping {
	background: url("img/bridge.jpg") no-repeat center center fixed;
	background-size: cover;
}

.small p {
	padding: 5%;
	text-align: justify;
	hyphens: auto;
}

.big {
	width: 100%;
    text-align: center;
    hyphens: auto;
    margin: 20px;
    background:linear-gradient(0deg,rgba(255,255,255, .6),rgba(255,255,255, .6)),url("img/wald.jpg");
    background-size: cover;
    margin-bottom: 1%;
    margin-left: 0;
}

.empty {
	linear-gradient(0deg,rgba(255,255,255, .6),rgba(255,255,255, .6)),url("");
}

.big p {
	padding-left: 5%;
	padding-right: 5%;
}

.big h1 {
	padding: 2%;
}

.keep-separated {
   	margin: 50px
}

.items {
	margin: 2%;
	padding: 5px;
	background-color: rgba(255, 255, 255, .6);
	color: black;
	width: 20%;
	float: left;
}

.gesamt {
	border: 2px solid white;
	padding: 5px;
	width: 20%;
	margin-left: 40%;
}

.detail {
	background:linear-gradient(0deg,rgba(77,141,162, .7),rgba(77,141,162, .5)),url("img/ny.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.detail p {
	margin-top: 5%;
}

.detail img {
	width: 40%;
    height: auto;
    -webkit-box-shadow: -9px 22px 31px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: -9px 22px 31px 4px rgba(0,0,0,0.75);
	box-shadow: -9px 22px 31px 4px rgba(0,0,0,0.75);
	border-radius: 2px;
}

input {
	border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: .1px solid white;
    color: black;
    padding: 10px;
    margin: 10px;
    width: 20%;
}

.bright {
	color: white;
}

.biginput {
	width: 90%;
}

.searchbar {
	width: 110%;
	height: auto;
	color: white;
	display: inline-block;
    margin-top: -6%;
    margin-bottom: -7%;
    margin-left: -5%;
    margin-right: 0%;
    hyphens: auto;
    box-sizing: border-box;
    text-align: left;
}

.searchbar input {
	color: white;
}

.searchbar img {
    width: 11%;
    height: 22%;
    margin-right: 5%;
}

.searchbar button {
	width: 80px;
    height: 40px;
    color: black;
    border: .2px solid black;
    font-size: 12px;
    transition: .4s ease-in-out;
    background-color: rgba(255, 255, 255, .2);
    margin-left: 36%;
}

.searchbar button:hover {
	background-color: rgba(0, 0, 0, .6);
    color: white;
}

#login {
	margin-top: 10%;
    width: 50%;
    margin-left: 25%;
    background-color: rgba(255,255,255,.6);
    border-radius: 2px;
    padding: 10px;
    color: #58546A;
}

.wrapper {
	width: 80%;
	margin-left: 10%;
	background-color: rgba(255, 255, 255, .8);
	padding-top: 20px;
	padding-bottom: 20px;
}

label{
	display: inline-block;
  	width: 195px;
  	text-align: right;	
}

table {
	width: 80%;
	margin-left: 10%;
	border-collapse: collapse;
	table-layout: fixed;
}

.heading {
	background-color: rgba(53, 91, 153, .5);
}

table tr {
	color: black;
}

table tr {
	border-bottom: 1px solid black;
}

table tr td {
	padding: 5px;
}

.hidden_values {
	display: none;
}

/*media queries*/
@media screen and (min-width: 600px) {
	.header {
		 clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
	}
}

@media screen and (max-width: 600px) {
	#logo, #logo_shop {
		position: relative;
		width: 50%;
		left: 0;
		top: 25px;
		background-color: rgba(255, 255, 255, .3);
		border-radius: 50%;
	}
	
	.small_logo {
		width: 20%;
	}
	
	label {
	display: inline-block;
  	text-align: left;
	}
	
	.small {
		display: block;
		width: 80%;
		margin-left: 10%;
		margin-top: 20%;
		border: 1px solid black;
		background: linear-gradient(0deg,rgba(77,141,162, .2),rgba(156,39,176, .2));
	}
	
	.small img {
		height: auto;
	}
	
	.menu-icon {
		display: inline-block;
	}
	
	.menu ul {
		display: none;
		transition: .2s ease-in-out;
	}
	
	.menu:hover ul {
		display: block;
		margin-left: -10%;
	}
	
	.menu:hover ul li {
		display: block;
	}
	
	#login input {
		width: 90%;
		margin-left: -1%;
	}
	
	.dark input {
		width: 80%;
		color: white;
	}
	
	.items {
		width: 80%;
		float: none;
		margin: 0;
		margin-top: 2%;
		margin-left: 10%;
	}
	
	.wrapper {
		width: 100%;
		margin: 0;
	}
	
	table {
		width: 90%;
		margin-left: 5%;
		font-size: 15px;
	}
	
	table thead {
		display: none;
	}
	
	.hidden_values {
		display: inline;
	}
	
	table tr {
		display: block;
	}
	
	table tr td {
		padding: 2px;
		display: block;
	}
	
	.label {
		margin-top: 10px;
	}
	
	.gesamt {
		width: 80%;
		margin-left: 10%;
	}
	
	.header-shop {
		background:linear-gradient(0deg,rgba(77,141,162, .6),rgba(156,39,176, .2)),url("img/bridge.jpg");
	}
	
	.shop h1 {
		padding-top: 40px;
	}
	
	.shop img {
		margin-top: 10px;
	}
}